<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My website {% endblock %}</title>
     
</head>
<body>
<header>
    <h1>{% block header %}Welcome to this Website{% endblock %}
</h1>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li><a href="{% url 'about' %}">about</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="{% url 'gallery' %}">gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; 2024 emobilis</p>
</footer>


</body>
</html>